@import-normalize;
@import "./assets/styles/colors.scss";
@import "./assets/styles/globals.scss";


body {
  margin: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: Questrial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $beige;
}

h1 {
  font-family: SourceSerifPro;
  font-weight: normal;
  margin: 0 0 20px;
}

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main,
.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include for-phone-only {
    width: map-get($containers, 'mobile');
  }

  @include for-tablet-portrait-up {
    width: map-get($containers, 'tablet');
  }

  @include for-desktop-up {
    width: map-get($containers, 'desktop');
  }

  @include for-big-desktop-up {
    width: map-get($containers, 'wide');
  }
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

main {
  position: relative;
  margin-top: $headerHeight;
  z-index: 1;
  padding: 40px 15px;

  > div {
    animation: fadein 1.5s;
  }
}

button, input[type="submit"], input[type="reset"] {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-content: space-between;
  flex-wrap: wrap;
  min-width: 315px;
}
